* {
    font-family: sans-serif;
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}



h2 {
    margin: 0;
}

.content {
    min-height: 100vh;
    width: 1000px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 0 24px;
}

.section {
    border-radius: 3px;
    width: fit-content;
    margin-bottom: 24px;
    background-color: rgb(0, 41, 78);   
}

.row {
    display: flex;
    margin: 12px 24px;
    line-height: 24px;
    text-align: center;
    justify-content: space-between;
}

.row div {
    flex: 1;
}

label {
    margin-right: 12px;
}

input {
    width: 300px;
    justify-self: flex-end;
    font-size: 14px;
    height: 24px;
    background-color: lightgray;
    color:rgb(0, 41, 78);
    outline: none;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;;
}

button {
    background-color: slategrey;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

button:hover {
    box-shadow: 0 0 20px #caf0f8;
}

/* .universe {
    border-radius: 50%;
} */

.moon{
    background-image: url('images/moon');
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: rotate 30s linear infinite 3s;
    animation-timing-function: ease-in;
}

.moving-satellite{
    /* background-image: url('images/satellite');
    background-position: center; */
    margin-top: 5px;
    width: 15px;
    height: 25px;
    border-radius: 40%;
    background-color: rgb(64, 64, 64);
    position: relative;
    animation: rotation 20s linear infinite 2s;
    animation-timing-function: ease-in;
}

.earth {
    background-image: url('images/earth3');
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: earth 30s linear 0s infinite;
}


@keyframes rotate {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 150px;
        top: 0;
    }
    50% {
        left: 200px;
        top: 200px;
    }
    75% {
        left: 0px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}
@keyframes rotation {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 150px;
        top: 0;
    }
    50% {
        left: 150px;
        top: 150px;
    }
    75% {
        left: 0px;
        top: 150px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes earth {
    0% { background-position:0 0 }
    100% { background-position:355px 0 }
  }
